/*------- MAIN -------*/

body {
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
}

@media only screen and (min-width: 1500px) {
  #container {
    max-width: 70%;
    margin: 0 auto;
  }
}

/*------- PAGE LAYOUT -------*/

#content {
  border: 1px solid black;
  border-radius: 20px;
  margin: 1em 2em;
  padding: 1em;
}

.navbar {
  /*background-color: green;*/
  /*border: 1px solid black;*/
  border-radius: 20px 20px 0 0;
}

.navbar p {
  margin: 0;
}

/*------- INFO PAGE -------*/

#info {
  margin: 0 auto;
  max-width: 60%;
}

p {
  margin-bottom: 0.5em;
}

ul {
  /* TODO: possibly a hack */
  list-style-position: outside;
  margin-left: 1em;
}

li {
  list-style: circle;
}

/*------- TABLE -------*/

.select-heading {
  margin-bottom: 10px;
}

.left-offset {
  padding-left: 5px;
}

tr {
  width: 100%;
}

td {
  padding-left: 35px;
}

.table td {
  vertical-align: middle;
}

.pc5 {
  width: 5%;
}

.pc10 {
  width: 10%;
}

.pc25 {
  width: 25%;
}

#quantity {
  width: 40px;
}
