/*------- MAIN -------*/

body {
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

@media only screen and (min-width: 1500px) {
  #container {
    max-width: 70%;
    margin: 0 auto;
  }
}

#content {
  border: 1px solid black;
  border-radius: 20px;
  margin: 1em 2em;
  padding: 1em;
}

.left-offset {
  padding-left: 5px;
}

.right-offset {
  padding-right: 5px;
}

.invisible {
  color: white; /* TODO: this is a hack ... */
}

.margin-left-small {
  /* TODO: use the helper classes that are available in newer versions of Bulma */
  margin-left: 0.5rem;
}

.margin-right-small {
  margin-right: 0.5rem;
}

.valign-bottom {
  vertical-align: bottom;
}

/*------- NAVBAR -------*/

nav.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.navbar p {
  margin: 0;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  /* TODO: Hack! Overriding Bulma's built-in media query. */
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.navbar-item {
  /* Overrding Bulma */
  padding: 0.5rem;
}

@media screen and (max-width: 360px) {
  .navbar > .navbar-menu > .navbar-end > .navbar-item:nth-child(1) > button {
    overflow: hidden;
    width: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar > .navbar-brand {
    display: flex;
    justify-content: center;
  }

  .navbar > .navbar-menu > .navbar-end {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar > .navbar-menu > .navbar-start > .navbar-item {
    display: none;
  }

  .navbar > .navbar-menu > .navbar-end > .navbar-item {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .calculate {
    display: none;
  }

  .navbar-menu {
    box-shadow: none;
  }
}

/*------- FOOTER -------*/

footer {
  border-top: 1px solid black;
  margin-top: 0.75em;
  padding-top: 0.75em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .attribution {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  footer {
    margin-top: 1em;
    padding-top: 1em;
  }

  footer .attribution {
    font-size: 1rem;
  }
}

/*------- INFO PAGE -------*/

#info {
  margin: 2em auto;
  max-width: 60%;
}

p {
  margin-bottom: 0.5em;
}

ul {
  /* TODO: possibly a hack */
  list-style-position: outside;
  margin-left: 1em;
}

li {
  list-style: circle;
}

#info .level a {
  color: #19a590;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
}

/*------- DESKTOP REEL TABLE -------*/

table {
  margin-bottom: 0;
}

.table-header > th {
  padding-bottom: 1em;
}

.main-row {
  background-color: rgb(245, 245, 245);
}

tr {
  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;
}

tr.main-row:hover {
  background-color: rgb(245, 245, 245); /* removing auto-hover colour */
}

.select-heading {
  margin-bottom: 10px;
}

.table td {
  padding-left: 15px;
  vertical-align: middle;
}

.total-row > td {
  padding: 1.5em 0 1.5em 15px;
}

.total-row > td:nth-last-child(2) {
  padding-left: 10px;
}

.pc5 {
  width: 5%;
}

.pc10 {
  width: 10%;
}

.pc125 {
  width: 12.5%;
}

.pc225 {
  width: 22.5%;
}

.pc25 {
  width: 25%;
}

#quantity {
  width: 40px;
}

.total-top {
  padding-bottom: 0.4em;
}

#filetype {
  margin-left: 10px;
}

/*------- MOBILE REEL TABLE -------*/

#mobile-reel-table .prompt {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  #mobile-reel-table {
    max-width: 70%;
    margin: 0 auto;
  }
}

.reel-label {
  font-weight: bold;
}

.reel-option {
  margin: 0.5em 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-reel {
  background-color: #e6fffb;
  margin-top: 1em;
  text-align: center;
  padding: 1em;
}

#quantity {
  max-width: 5em;
}

#reel-data {
  text-align: center;
}

.added-reel {
  padding: 1.5rem 1rem 1rem;

  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;
}

.added-reel:not(:last-child) {
  border-bottom: 1px solid gray;
}

.summary {
  font-weight: bold;
}

#totals {
  background-color: #e6fffb;
  padding: 1.5em 1em;
}

#totals button {
  margin-top: 1rem;
}

/*------- ANIMATION -------*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
