/*------- MAIN -------*/

body {
  font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

@media only screen and (min-width: 1500px) {
  #container {
    max-width: 70%;
    margin: 0 auto;
  }
}

#content {
  border: 1px solid black;
  border-radius: 20px;
  margin: 1em 2em;
  padding: 1em;
}

.left-offset {
  padding-left: 5px;
}

.right-offset {
  padding-right: 5px;
}

.invisible {
  color: white; /* TODO: this is a hack ... */
}

/*------- RESPONSIVE WARNING -------*/

.responsive-warning-container {
  display: flex;
  height: 180px;
  margin: calc(50vh - 90px) auto;
}

.responsive-warning {
  margin: auto;
  max-width: 300px;
}

@media screen and (min-width: 950px) {
  .responsive-warning-container {
    display: none !important;
  }
}

@media screen and (max-width: 951px) {
  #content {
    display: none !important;
  }
}

/*------- NAVBAR -------*/

nav.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.navbar p {
  margin: 0;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  /* TODO: Hack! Overriding Bulma's built-in media query. */
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media screen and (max-width: 1023px) {
  /* TODO: more hackery */
  .calculate {
    display: none;
  }
  .navbar-menu {
    box-shadow: none;
  }
}

/*------- FOOTER -------*/

div.app-footer {
  border-top: 1px solid black;
  margin-top: 1em;
  padding-top: 1em;
}

/*------- INFO PAGE -------*/

#info {
  margin: 2em auto;
  max-width: 60%;
}

p {
  margin-bottom: 0.5em;
}

ul {
  /* TODO: possibly a hack */
  list-style-position: outside;
  margin-left: 1em;
}

li {
  list-style: circle;
}

#info .level a {
  color: #19a590;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
}

/*------- TABLE -------*/

table {
  margin-bottom: 0;
}

.table-header > th {
  padding-bottom: 1em;
}

.main-row {
  background-color: rgb(245, 245, 245);
}

tr {
  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;
}

tr.main-row:hover {
  background-color: rgb(245, 245, 245); /* removing auto-hover colour */
}

.select-heading {
  margin-bottom: 10px;
}

.table td {
  padding-left: 15px;
  vertical-align: middle;
}

.total-row > td {
  padding: 1.5em 0 1.5em 15px;
}

.total-row > td:nth-last-child(2) {
  padding-left: 10px;
}

.pc5 {
  width: 5%;
}

.pc10 {
  width: 10%;
}

.pc25 {
  width: 25%;
}

#quantity {
  width: 40px;
}

.total-top {
  padding-bottom: 0.4em;
}

#filetype {
  margin-left: 10px;
}

/*------- ANIMATION -------*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
